* {

    margin: 0px;
    padding: 0px;


}

#imagem {

    margin-left: 15%;

}

#h1 {

    font-size: 50px;
    margin-left: 33%;
    padding: 1%;
    font-family: 'Italiana', serif;

}

#h2 {

    font-size: 33px;
    padding: 1%;
    font-family: 'Italiana', serif;

}

#h3 {

    font-size: 33px;
    padding: 1%;
    font-family: 'Italiana', serif;
    margin-left: 33%;

}

ol {

    font-size: 20px;
    margin-left: 25px;
    padding: 1%;

}

li {

    font-size: 20px;
    margin-left: 10px;


}

body {

    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(208, 165, 139, 0.8841911764705882) 0%);
    ;

}

#video {

    margin-left: 30%;
    padding: 1%;

}

#gif {

    margin-left: 25%;
    padding: 3%;
}

